.atori-nav {
  display: flex;
  align-items: center;
  height: var(--atori-nav-height);
  padding: 4.8rem;
  gap: 2.4rem;
}

.atori-nav-favicon {
  flex: 1;
  font-size: 1.6rem;
}

.atori-nav-favicon path {
  stroke-dashoffset: 1px;
  stroke-dasharray: 350px 0;
  animation: grow 10s ease forwards infinite;
  transform-origin: center;
  stroke: #a26769;
  animation-delay: 0s;
}

@keyframes grow {
  0% {
    stroke-dashoffset: 1px;
    stroke-dasharray: 0 350px;
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  40% {
    stroke-dasharray: 350px 0;
  }
  /* Moving back */
  85% {
    stroke-dasharray: 350px 0;
  }
  95%,
  to {
    stroke-dasharray: 0 350px;
  }
}

.atori-nav-menu {
  display: flex;
  gap: 2.4rem;
}

.atori-nav-menu .menu-item {
  opacity: var(--atori-c-text-opac-1ight);
  transition: opacity 0.2s ease;
  &:hover {
    opacity: var(--atori-c-text-opac-full);
  }
}

.atori-nav-extra {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.atroi-nav-icon {
  display: inline-block;
  opacity: var(--atori-c-text-opac-1ight);
  cursor: pointer;
  transition: opacity 0.2s ease;
  &:hover {
    opacity: var(--atori-c-text-opac-full);
  }
}

.atroi-nav-icon.moon {
  color: inherit;
  display: inline-block;
  display: none;
}

html.dark .atroi-nav-icon.light {
  display: none;
}

html.dark .atroi-nav-icon.moon {
  display: inline-block;
  &:hover {
    opacity: var(--atori-c-text-opac-full);
  }
}
