.atori-nav-wrapper {
  /* position: fixed;
  height: var(--atori-nav-height);
  right: 0;
  left: 0;
  z-index: 20; */
}

.atori-nav {
  display: flex;
  align-items: center;
  padding: 3.2rem;
  gap: 2.4rem;
  height: var(--atori-nav-height);
}

.atori-nav-favicon {
  font-size: 2.4rem;
  position: fixed;
  top: 2rem;
  left: 2.4rem;
  z-index: 10;
}

.atori-nav-favicon path {
  stroke-dashoffset: 1px;
  stroke-dasharray: 350px 0;
  animation: grow 10s ease forwards infinite;
  transform-origin: center;
  stroke: #a26769;
  animation-delay: 0s;
}

.atori-nav-operation {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2.4rem;
  /* height: var(--atori-nav-height); */
  padding-inline: 2.4rem;
  padding-block: 0.8rem;
  border-radius: 10px;

  position: fixed;
  top: 1.2rem;
  right: 2.4rem;
  z-index: 10;
  transition:
    transform 0.3s ease-in-out,
    opacity 0.3s ease-in-out,
    background-color 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;

  transform: translateY(0);
  opacity: 1;
}

.atori-nav-operation.hidden {
  transform: translateY(-100%);
  opacity: 0;
  pointer-events: none;
}

.atori-nav-operation.visible {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}

.atori-nav-operation.card {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  background-color: var(--atori-c-bg-second);
}

.nav-setting-form-list {
}
.nav-setting-form-field {
  margin-bottom: 12px;
  display: flex;
  gap: 6px;
}

.nav-setting-form-field .field-label {
  width: 6rem;
  display: inline-block;
  text-align: right;
}

.nav-setting-form-field .field-value {
  min-width: 10rem;
  border: 1px solid var(--atori-c-border-tweet);
  padding-inline: 8px;
}

@keyframes grow {
  0% {
    stroke-dashoffset: 1px;
    stroke-dasharray: 0 350px;
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  40% {
    stroke-dasharray: 350px 0;
  }
  /* Moving back */
  85% {
    stroke-dasharray: 350px 0;
  }
  95%,
  to {
    stroke-dasharray: 0 350px;
  }
}

.atori-nav-menu {
  display: flex;
  gap: 2.4rem;
}

.atori-nav-menu .menu-item {
  opacity: var(--atori-c-text-opac-1ight);
  transition: opacity 0.2s ease;
  font-size: 1.8rem;
  &:hover {
    opacity: var(--atori-c-text-opac-full);
  }
}

.atori-nav-menu .menu-item.mobile {
  display: inline-block;
  width: 100%;
  &:hover {
    background-color: var(--atori-c-bg-deep);
  }
}

.atori-nav-extra {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.atroi-nav-icon {
  display: inline-block;
  font-size: 1.8rem;
  opacity: var(--atori-c-text-opac-1ight);
  cursor: pointer;
  transition: opacity 0.2s ease;
  &:hover {
    opacity: var(--atori-c-text-opac-full);
  }
  &:active {
    opacity: var(--atori-c-text-opac-full);
  }
}

.atroi-nav-icon.moon {
  color: inherit;
  display: inline-block;
  display: none;
}

html.dark .atroi-nav-icon.light {
  display: none;
}

html.dark .atroi-nav-icon.moon {
  display: inline-block;
  &:hover {
    opacity: var(--atori-c-text-opac-full);
  }
}

.nav-setting-save {
  color: var(--atori-c-text-1);
  opacity: 0.7;
  display: flex;
  justify-content: center;
  cursor: pointer;
  &:hover {
    opacity: 1;
  }
}

.nav-setting-save .btn-save {
  width: 5rem;
  text-align: center;
  padding: 3px;
  background-color: var(--atori-c-bg-deep);
}
