.atori-review-label {
  cursor: pointer;
  opacity: var(--atori-c-text-opac-1ight);
  border: 1px solid var(--atori-c-border-1);
  border-radius: 20px;
  padding-inline: 0.6rem;
  font-size: 1.3rem;
}

.atori-review-label {
  align-items: center;
  user-select: none;
  transition: all 0.2s ease;
  &:hover {
    opacity: var(--atori-c-text-opac-full);
  }
}

.atori-review-label.active {
  transition: all 0.2s ease;
  font-weight: bold;
  opacity: 1;
}

.atori-review-icon {
  text-align: center;
  display: inline;
}
