.atori-tweet-wrapper {
  position: relative;
}

.atori-tweet-cards {
  opacity: 0;
  animation-delay: 0.1s;
}

.atori-tweet-edit {
  position: absolute;
  top: 1.3rem;
  left: 13rem;
  padding: 2px;
}
