.atori-tweet-wrapper {
  position: relative;
}

.atori-tweet-wrapper .prose {
  font-weight: normal;
}

.atori-tweet-cards {
  opacity: 0;
  animation: op-move ease-in 1s forwards;
  animation-delay: 0.1s;
}

.atori-tweet-edit {
  position: absolute;
  top: 1.3rem;
  left: 13rem;
  padding: 2px;
}

@keyframes op-move {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
