@tailwind base;
@tailwind components;
@tailwind utilities;
@import '../styles/vars.css';

*,
::before,
::after {
  box-sizing: border-box;
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

:root {
  /* font-size: calc(0.5em + 1vw); */
}

p {
  margin: 0;
}

html.dark {
  color-scheme: dark;
}

body {
  margin: 0;
  color: var(--atori-c-text-1);
  background: var(--atori-c-bg);
  font-family: Arial, Helvetica, sans-serif;
  direction: ltr;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a,
area,
button,
[role='button'],
input,
label,
select,
summary,
textarea {
  touch-action: manipulation;
}

a {
  color: inherit;
  text-decoration: inherit;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

strong,
b {
  font-weight: 600;
}

button,
input,
optgroup,
select,
textarea {
  border: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
}

button {
  padding: 0;
  font-family: inherit;
  background-color: transparent;
  background-image: none;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

input::placeholder,
textarea::placeholder {
  color: var(--atori-c-text-3);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
