/* textarea专用样式 */
.tweets-edit-textarea {
  background-color: var(--atori-c-bg-soft);
  color: var(--atori-c-text-1);
  transition: all 0.2s ease;
}

.tweets-edit-textarea:focus {
  background-color: var(--atori-c-bg-second);
  border-color: var(--atori-c-border-primary);
}
